*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Patua One', cursive;
}
.app {
  width: 100%;
  background-color: #333030;
  min-height: 100vh;
}
/* styles for webkit browsers */
::-webkit-scrollbar {
  width: 10px;
}

/* track */
::-webkit-scrollbar-track {
  background-color: black;
}

/* thumb */
::-webkit-scrollbar-thumb {
  background-color: grey;
}